<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>NationBuilder Certification</title>
</head>
<body>
  <%= render "/nav" %>


  <div class="container">
    <div class="jumbotron">
      <h1>Welcome</h1>
      <p>This App was created to become a Certified Nation Builder Developer.</p>
      <% unless session[:token] %>
        <p>
          <a class="btn btn-primary btn-lg" href=<%= @oauth_authorize %> role="button">Login</a>
        </p>
      <% end %>
    </div>
  </div>
</body>
</html>